Repository nhnacademy-be9-bluebooktle/bluebooktle-shop, pull requests merged in 2025-06, with the labels that each got.

#330 [#244][FRONT][장바구니] - 주문페이지로 정보 전송
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/CartController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/entity/CartBook.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/helper/AuthContextHelper.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/repository/CartBookRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/service/CartService.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/service/impl/CartServiceImpl.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/BookIdListRequest.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/CartController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/CartRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/CartService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/CartServiceImpl.java
  frontend-server/src/main/resources/templates/cart/cart.html
Labels: ✨ feat, component: backend-server, component: frontend-server

#334 [#240][BACK][장바구니] - FIX : 빈 카트 조회 불가 오류 수정
  backend-server/src/main/java/shop/bluebooktle/backend/cart/service/impl/CartServiceImpl.java
Labels: 🐛 bug, component: backend-server

#335 [#237][FRONT][쿠폰] - MyPage 쿠폰 조회
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/CouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/UserCouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/impl/CouponQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/UserCouponService.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/UserCouponServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/jpa/CouponRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/service/UserCouponServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/domain/UserCouponFilterType.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/UserCouponResponse.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/myPage/MyPageController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/CouponRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/CouponService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/CouponServiceImpl.java
  frontend-server/src/main/resources/templates/admin/coupon/coupon_form.html
  frontend-server/src/main/resources/templates/mypage/coupon_list.html
Labels: ✨ feat, component: frontend-server

#337 [#15][FRONT, BACK][도서] - 도서 목록 및 카테고리 검색 도서 목록 구현
  backend-server/http/aladinBook.http
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookCategoryController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookImgController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/BookSaleInfo.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookCategoryQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookCategoryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookImgRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/impl/BookCategoryQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookAuthorServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookCategoryServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookImgServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookPublisherServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookTagServiceImpl.java
  backend-server/src/main/resources/initData.sql
  backend-server/src/main/resources/schema.sql
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/BookInfoResponse.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/BookController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/BookCategoryRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/BookRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/BookService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/BookServiceImpl.java
  frontend-server/src/main/resources/templates/book/book_list.html
  frontend-server/src/main/resources/templates/main.html
Labels: component: backend-server, component: frontend-server

#350 [#240][FIX][장바구니] cart load fix + 디버깅 로그 추가
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/advice/GlobalCartCountAdvice.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/CartController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/CartRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/CartServiceImpl.java
  frontend-server/src/main/resources/templates/book/book_detail.html
Labels: 🐛 bug

#351 [#240][FIX][장바구니] GUEST_ID 요청 타입 수정
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/CartController.java
Labels: 🐛 bug

#345 [FRONT][주문] - 주문 내역 조회
  auth-server/http/auth.http
  backend-server/http/book.http
  backend-server/src/main/java/shop/bluebooktle/backend/BackendServerApplication.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/entity/Order.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/repository/OrderQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/repository/OrderRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/service/impl/OrderServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/entity/Payment.java
  backend-server/src/main/resources/schema.sql
  common-module/src/main/java/shop/bluebooktle/common/domain/order/OrderStatus.java
  common-module/src/main/java/shop/bluebooktle/common/dto/order/request/OrderCreateRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/order/response/OrderHistoryResponse.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/OrderController.java
  frontend-server/src/main/resources/templates/mypage/order_list.html
  frontend-server/src/main/resources/templates/order/create_form.html
Labels: ✨ feat

#354 [FRONT][주문] - 비회원 주문 스크립트 적용 안되던 부분 해결
  backend-server/src/main/java/shop/bluebooktle/backend/order/controller/OrderController.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/service/impl/OrderServiceImpl.java
  backend-server/src/main/resources/schema.sql
  common-module/src/main/java/shop/bluebooktle/common/dto/order/request/OrderCreateRequest.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/advice/GlobalCartCountAdvice.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/OrderController.java
  frontend-server/src/main/resources/templates/order/create_form.html
Labels: 🐛 bug, component: frontend-server

#356 [#50][FRONT][주문/쿠폰] - 주문에서 사용가능한 쿠폰 조회(PR 재등록)
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/UserCouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/Coupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/UserCoupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/UserCouponQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/UserCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/impl/CouponQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/impl/UserCouponQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/UserCouponService.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/UserCouponServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/service/UserCouponServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/domain/coupon/CouponTypeTarget.java
  common-module/src/main/java/shop/bluebooktle/common/domain/coupon/PredefinedCoupon.java
  common-module/src/main/java/shop/bluebooktle/common/domain/coupon/UserCouponFilterType.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/UsableUserCouponMapResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/UsableUserCouponResponse.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/CouponController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/OrderController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/CouponRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/CouponService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/CouponServiceImpl.java
  frontend-server/src/main/resources/templates/order/create_form.html
Labels: ✨ feat, component: frontend-server

#343 [#139][FRONT][쿠폰] - 쿠폰 검색 및 페이징 작업
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/CouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/dto/CouponSearchRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/impl/CouponQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/CouponService.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/controller/CouponControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/jpa/CouponRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/service/CouponServiceTest.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminCouponController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AdminCouponRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/AdminCouponService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/AdminCouponServiceImpl.java
  frontend-server/src/main/resources/templates/admin/coupon/coupon_form.html
  frontend-server/src/main/resources/templates/admin/coupon/coupon_list.html
Labels: ✨ feat, component: backend-server, component: frontend-server

#365 [BACK][포인트] - 포인트 정책 PointSourceTypeEnum으로 조회하는 기능 추가
  backend-server/http/point.http
  backend-server/src/main/java/shop/bluebooktle/backend/order/service/impl/OrderServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/point/controller/PointRuleController.java
  backend-server/src/main/java/shop/bluebooktle/backend/point/service/PointPolicyService.java
  backend-server/src/main/java/shop/bluebooktle/backend/point/service/impl/PointPolicyServiceImpl.java
  common-module/src/main/java/shop/bluebooktle/common/converter/PointSourceTypeConverter.java
  common-module/src/main/java/shop/bluebooktle/common/entity/point/PointHistory.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/advice/GlobalCartCountAdvice.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AdminPointRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/AdminPointService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/AdminPointServiceImpl.java
Labels: ✨ feat, component: backend-server, component: frontend-server

#366 [FIX][도서이미지] - 미니오 dev 서버 오류 해결
  backend-server/http/aladinBook.http
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/ImageController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/ImageServerClient.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/ImgRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/AdminBookServiceImpl.java
Labels: component: frontend-server

#367 [FIX][Coupon] - 생일 쿠폰 에러 수정 및 쿠폰에서 도서 리스트 변경
  backend-server/pom.xml
  backend-server/src/main/java/shop/bluebooktle/backend/config/RedissonConfig.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/birthday/scheduler/BirthdayCouponScheduler.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminCouponController.java
  frontend-server/src/main/resources/templates/admin/coupon/book_list.html
Labels: 🐛 bug, 🔨 refactor, component: backend-server, component: frontend-server

#371 [FIX][Coupon] - 스케줄러 shedLock으로 변경
  backend-server/pom.xml
  backend-server/src/main/java/shop/bluebooktle/backend/config/RedissonConfig.java
  backend-server/src/main/java/shop/bluebooktle/backend/config/SchedulerConfig.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/birthday/scheduler/BirthdayCouponScheduler.java
  backend-server/src/main/resources/application-local.yml
  backend-server/src/main/resources/shedLock.sql
Labels: 🔨 refactor

#378 [#240][FRONT][장바구니/메인페이지] - 메인페이지 작업 및 비회원쿠키 생성 위치 수정
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/WebConfig.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/filter/GuestIdFilter.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/BookController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/MainController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/util/CookieTokenUtil.java
  frontend-server/src/main/resources/static/legal/privacy.html
  frontend-server/src/main/resources/static/legal/terms.html
  frontend-server/src/main/resources/static/support/faq.html
  frontend-server/src/main/resources/templates/_fragments/footer.html
  frontend-server/src/main/resources/templates/book/book_list.html
  frontend-server/src/main/resources/templates/main.html
Labels: component: frontend-server

#372 [BACK | FRONT][주문] - 주문 취소 및 주문시 상품 검증 추가 및 관리자 주문 목록 조회
  auth-server/http/auth.http
  auth-server/src/main/java/shop/bluebooktle/auth/service/impl/PointServiceImpl.java
  backend-server/http/order.http
  backend-server/src/main/java/shop/bluebooktle/backend/config/RabbitMqConfig.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/controller/AdminOrderController.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/controller/OrderController.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/dto/response/OrderCancelMessage.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/entity/Order.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/event/OrderEventListener.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/mq/listener/OrderCancelRabbitListener.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/mq/properties/OrderExchangeProperties.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/mq/properties/OrderQueueProperties.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/repository/OrderQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/repository/OrderRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/repository/impl/OrderQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/service/OrderService.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/service/impl/OrderServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/entity/Payment.java
  backend-server/src/main/resources/application-local.yml
  backend-server/src/main/resources/initData.sql
  backend-server/src/main/resources/schema.sql
  common-module/src/main/java/shop/bluebooktle/common/domain/order/AdminOrderSearchType.java
  common-module/src/main/java/shop/bluebooktle/common/domain/point/PointSourceTypeEnum.java
  common-module/src/main/java/shop/bluebooktle/common/dto/order/request/AdminOrderSearchRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/order/response/AdminOrderListResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/order/response/OrderDetailResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/order/response/OrderItemResponse.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
  common-module/src/main/java/shop/bluebooktle/common/exception/order/BookNotOrderableException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/order/StockNotEnoughException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/order/order_state/OrderInvalidStateException.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/OrderController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminOrderController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/myPage/MyPageController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/myPage/MyPageOrderController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AdminOrderRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/OrderRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/AdminOrderService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/OrderService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/PointHistoryService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/AdminOrderServiceImpl.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/OrderServiceImpl.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/PointHistoryServiceImpl.java
  frontend-server/src/main/resources/templates/admin/order/order_list.html
  frontend-server/src/main/resources/templates/admin/point/point_settings_form.html
  frontend-server/src/main/resources/templates/mypage/order_detail.html
  frontend-server/src/main/resources/templates/mypage/order_list.html
  frontend-server/src/main/resources/templates/order/create_form.html
Labels: ✨ feat, component: backend-server, component: frontend-server

#384 [AUTH, BACK][DB] - dbcp2 사용
  auth-server/pom.xml
  auth-server/src/main/java/shop/bluebooktle/auth/config/DataSourceConfig.java
  auth-server/src/main/resources/application-local.yml
  backend-server/pom.xml
  backend-server/src/main/java/shop/bluebooktle/backend/config/DataSourceConfig.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/entity/PaymentDetail.java
  backend-server/src/main/resources/application-local.yml
  pom.xml
Labels: 🔨 refactor, component: auth-server, component: backend-server

#388 [BACK, FRONT][주문] 비회원 주문 추가, 주문 상태(상품 준비중) 추가
  backend-server/src/main/java/shop/bluebooktle/backend/order/controller/OrderController.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/service/impl/OrderServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/service/impl/PaymentServiceImpl.java
  backend-server/src/main/resources/initData.sql
  backend-server/src/main/resources/schema.sql
  common-module/src/main/java/shop/bluebooktle/common/domain/order/OrderStatus.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/OrderController.java
  frontend-server/src/main/resources/templates/_layouts/admin_layout.html
  frontend-server/src/main/resources/templates/order/complete.html
Labels: ✨ feat, component: backend-server, component: frontend-server

#377 [#18][FRONT, BACK][도서 목록 조회 및 검색] - 엘라스틱 서치 구현 (100%)
  backend-server/pom.xml
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookCategoryController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/AuthorRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookAuthorRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookPublisherRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookAuthorService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookCategoryService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookPublisherService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookTagService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/CategoryService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/AuthorServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookAuthorServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookCategoryServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookPublisherServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookRegisterServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookTagServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/CategoryServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/PublisherServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/TagServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/elasticsearch/config/ElasticsearchConfig.java
  backend-server/src/main/java/shop/bluebooktle/backend/elasticsearch/document/BookDocument.java
  backend-server/src/main/java/shop/bluebooktle/backend/elasticsearch/repository/BookElasticSearchCustomRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/elasticsearch/repository/BookElasticSearchRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/elasticsearch/service/BookElasticSearchService.java
  backend-server/src/main/java/shop/bluebooktle/backend/elasticsearch/service/impl/BookElasticSearchServiceImpl.java
  backend-server/src/main/resources/application-local.yml
  backend-server/src/main/resources/elasticsearch/book-mapping.json
  backend-server/src/main/resources/elasticsearch/book-setting.json
  backend-server/src/main/resources/schema.sql
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/AuthorServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/PublisherServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/TagServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/BookSortType.java
  common-module/src/main/java/shop/bluebooktle/common/dto/elasticsearch/BookElasticSearchRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/elasticsearch/BookElasticSearchUpdateRequest.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/AuthorAlreadyExistsException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/AuthorCannotDeleteException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/elasticsearch/ElasticsearchBookDocumentSaveException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/elasticsearch/ElasticsearchBookNotFoundException.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/BookController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/MainController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminBookController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/BookCategoryRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/BookRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/BookService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/AdminCategoryServiceImpl.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/BookServiceImpl.java
  frontend-server/src/main/resources/templates/_fragments/header.html
  frontend-server/src/main/resources/templates/_layouts/admin_layout.html
  frontend-server/src/main/resources/templates/book/book_list.html
Labels: ✨ feat, component: backend-server, component: frontend-server

#392 [#18][FRONT][도서 목록 조회] - html 수정 및 FE 컨트롤러 수정
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/BookController.java
  frontend-server/src/main/resources/templates/book/book_list.html
Labels: component: frontend-server

#390 [BACK | FRONT][주문] - 주문 취소시 재고 복구 및 책 판매 상태 업데이트 및 관리자 페이지 운송장 번호 입력 추가
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/Book.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/BookSaleInfo.java
  backend-server/src/main/java/shop/bluebooktle/backend/config/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/order/controller/AdminOrderController.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/controller/OrderController.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/entity/Order.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/repository/OrderRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/service/OrderService.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/service/impl/OrderServiceImpl.java
  common-module/src/main/java/shop/bluebooktle/common/dto/order/request/AdminOrderTrackingNumberUpdateRequest.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminOrderController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/myPage/MyPageOrderController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AdminOrderRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/AdminOrderService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/AdminOrderServiceImpl.java
  frontend-server/src/main/resources/templates/_layouts/admin_layout.html
  frontend-server/src/main/resources/templates/admin/order/order_detail.html
Labels: ✨ feat, component: backend-server, component: frontend-server

#395 [#385][BACK][도서 주문] - 도서 주문 포장 옵션 테스트코드 작성 (100%)
  auth-server/src/main/resources/application-local.yml
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/jpa/PackagingOptionRepository.java
  backend-server/src/main/resources/BookDetailTest.sql
  backend-server/src/test/java/shop/bluebooktle/backend/book_order/controller/PackagingOptionControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book_order/jpa/PackagingOptionQueryRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book_order/jpa/PackagingOptionRepositoryTest.java
Labels: ✅ test

#383 [#380][BACK][MembershipLevel] - 회원 등급 업데이트
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/birthday/scheduler/BirthdayCouponScheduler.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/batch/membershipLevel/MembershipItemReader.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/batch/membershipLevel/MembershipJobConfig.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/batch/membershipLevel/MembershipLauncher.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/batch/membershipLevel/MembershipProcessor.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/batch/membershipLevel/MembershipWriter.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/batch/membershipLevel/scheduler/MembershipLevelScheduler.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/controller/MembershipLevelController.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/controller/UserController.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/dto/UserMembershipLevelUpdateCommand.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/dto/UserNetSpentAmountDto.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/repository/MembershipLevelQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/repository/MembershipLevelRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/repository/UserQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/repository/impl/MembershipLevelQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/repository/impl/UserQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/service/MembershipLevelService.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/service/UserService.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/service/impl/MembershipLevelServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/service/impl/UserServiceImpl.java
  backend-server/src/main/resources/application-local.yml
  backend-server/src/main/resources/initData.sql
  common-module/src/main/java/shop/bluebooktle/common/dto/membership/MembershipLevelDetailDto.java
  common-module/src/main/java/shop/bluebooktle/common/dto/user/response/UserMembershipLevelResponse.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/myPage/MyPageController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/myPage/MyPageCouponController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/myPage/MyPageMembershipController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/MembershipLevelRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/UserRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/MembershipLevelService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/UserService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/MembershipLevelServiceImpl.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/UserServiceImpl.java
  frontend-server/src/main/resources/templates/_fragments/mypage_sidebar.html
  frontend-server/src/main/resources/templates/mypage/coupon_list.html
  frontend-server/src/main/resources/templates/mypage/membership.html
Labels: ✨ feat, component: backend-server

#399 [#394][BACK][도서] - sweager 정리 및 미사용 메서드, Controller 정리(100%)
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/AladinBookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/AuthorController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookAuthorController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookCategoryController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookImgController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookPublisherController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookSaleInfoController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookTagController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/CategoryController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/ImgController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/PublisherController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/TagController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookCategoryQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookCategoryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookImgRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookSaleInfoRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/CategoryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/ImgRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/PublisherRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/TagRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/impl/BookCategoryQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookImgService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookImgServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/BookSaleInfoControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/CategoryControllerTest.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AdminBookRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AdminCategoryRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/CategoryRepository.java
Labels: 🔨 refactor, component: backend-server

#389 [#324][BACK][TEST] - user 테스트 코드 작성 (100%)
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/BookCategory.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookCategoryServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookImgServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/service/impl/UserServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/AladinBookServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookAuthorServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookCategoryServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookImgServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/user/controller/AddressControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/user/controller/AddressControllerUnitTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/user/service/AddressServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/user/service/RedisDormantAuthCodeServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/user/service/UserServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/request/BookImgRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/entity/auth/User.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
  common-module/src/main/java/shop/bluebooktle/common/exception/user/AddressNotFoundException.java
Labels: ✅ test, component: backend-server

#404 [#397][BACK][도서] - 도서 좋아요 테스트코드 작성(100%)
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/BookLikesControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/jpa/BookLikesRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookLikesServiceTest.java
Labels: ✅ test

#398 [#339][BACK,FRONT][리뷰] - 리뷰 이미지 등록
  backend-server/http/review.http
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/ImgController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/ReviewController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/BookSaleInfo.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/Review.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/ReviewLikes.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/ReviewLikesQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/ReviewLikesRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/ReviewQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/ReviewRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/impl/ReviewLikesQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/impl/ReviewQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/ImgService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/ReviewService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/ImgServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/ReviewServiceImpl.java
  backend-server/src/main/resources/schema.sql
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/ReviewControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/ReviewServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/request/ReviewRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/request/ReviewRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/request/ReviewUpdateRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/ReviewResponse.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/ReviewAuthorizationException.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/feign/interceptor/FeignBearerTokenInterceptor.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/BookController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/myPage/MyPageController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/myPage/MyPageReviewController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/ImgRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/ReviewRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/ReviewService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/ReviewServiceImpl.java
  frontend-server/src/main/resources/templates/book/book_detail.html
  frontend-server/src/main/resources/templates/mypage/order_detail.html
  frontend-server/src/main/resources/templates/mypage/review_list.html
Labels: ✨ feat, component: frontend-server

#409 [#18][BACK. FRONT][도서][VIEW] - 리뷰 등록 시 엘라스틱 정보 등록
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/ReviewServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/elasticsearch/service/BookElasticSearchService.java
  backend-server/src/main/java/shop/bluebooktle/backend/elasticsearch/service/impl/BookElasticSearchServiceImpl.java
  frontend-server/src/main/resources/templates/book/book_list.html
Labels: ✨ feat, 🔨 refactor

#411 [BACK][리뷰] - 리뷰시 포인트 부여
  backend-server/src/main/java/shop/bluebooktle/backend/book/event/listener/UserReviewPointEventListener.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/event/type/UserReviewPointEvent.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/ReviewServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/controller/AdminOrderController.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/service/impl/OrderServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/controller/PaymentController.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/service/PaymentService.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/service/impl/PaymentServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/point/service/PointService.java
  backend-server/src/main/java/shop/bluebooktle/backend/point/service/impl/PointServiceImpl.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/PaymentRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/PaymentsServiceImpl.java
  frontend-server/src/main/resources/templates/mypage/order_detail.html
Labels: ✨ feat, component: backend-server

#419 [#418][BACK][쿠폰] - 쿠폰 Test Code 작성
  auth-server/src/test/java/shop/bluebooktle/mq/welcome/WelcomeCouponIssueProducerTest.java
  backend-server/pom.xml
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/direct/DirectCouponReader.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/CouponTypeController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/Coupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponTypeServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/config/WithMockCustomUser.java
  backend-server/src/test/java/shop/bluebooktle/backend/config/WithMockCustomUserSecurityContextFactory.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/batch/birthday/BirthdayCouponJobConfigTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/batch/birthday/BirthdayCouponLauncherTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/batch/birthday/BirthdayCouponProcessorTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/batch/birthday/BirthdayCouponWriterTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/batch/birthday/BirthdayUserItemReaderTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/batch/birthday/scheduler/BirthdayCouponSchedulerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/batch/direct/DirectCouponBatchLauncherTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/batch/direct/DirectCouponIssueJobConfigTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/batch/direct/DirectCouponProcessorTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/batch/direct/DirectCouponReaderTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/batch/direct/DirectCouponWriterTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/controller/CouponControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/controller/CouponTypeControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/controller/UserCouponControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/jpa/CouponQueryRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/jpa/CouponRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/jpa/UserCouponQueryRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/mq/birthday/BirthdayCouponIssueListenerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/mq/birthday/BirthdayCouponIssueProducerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/mq/direct/DirectCouponIssueListenerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/mq/direct/DirectCouponIssueProducerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/mq/welcome/WelcomeCouponListenerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/service/CouponCalculationServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/service/CouponServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/service/UserCouponServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/CouponResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/UsableUserCouponResponse.java
Labels: ✅ test

#422 [#421][BACK][도서] - 테스트코드 작성
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/ImgServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/review/controller/ReviewController.java
  backend-server/src/main/java/shop/bluebooktle/backend/review/entity/Review.java
  backend-server/src/main/java/shop/bluebooktle/backend/review/entity/ReviewLikes.java
  backend-server/src/main/java/shop/bluebooktle/backend/review/repository/ReviewLikesQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/review/repository/ReviewLikesRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/review/repository/ReviewQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/review/repository/ReviewRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/review/repository/impl/ReviewLikesQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/review/repository/impl/ReviewQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/review/service/ReviewService.java
  backend-server/src/main/java/shop/bluebooktle/backend/review/service/impl/ReviewServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/BookControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/review/controller/ReviewControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/review/service/ReviewServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/request/BookUpdateServiceRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/AdminBookResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/BookInfoResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/review/request/ReviewRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/review/request/ReviewRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/review/request/ReviewUpdateRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/review/response/ReviewResponse.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/BookController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/myPage/MyPageReviewController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/ReviewRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/ReviewService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/ReviewServiceImpl.java
Labels: ✅ test, component: backend-server

#425 [#324][BACK][TEST] - 도서 관련 서비스 테스트 코드 작성
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/AladinBookService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookAuthorService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookImgService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/AladinBookServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookAuthorServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookImgServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/AladinBookServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/AuthorServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookAuthorServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookImgServiceTest.java
Labels: ✅ test, component: backend-server

#428 [#405][BACK][도서] - 출판사 테스트코드 작성(100%)
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookPublisherService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookPublisherServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/PublisherControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/jpa/BookLikesRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/jpa/PublisherRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookPublisherServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/PublisherServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book_order/jpa/PackagingOptionRepositoryTest.java
Labels: ✅ test, component: backend-server

#435 [Test][FRONT][쿠폰] - 쿠폰 Front TC 작성
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/controller/UserCouponControllerTest.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/CouponController.java
  frontend-server/src/test/java/shop/bluebooktle/frontend/controller/CouponControllerTest.java
  frontend-server/src/test/java/shop/bluebooktle/frontend/controller/admin/AdminCouponControllerTest.java
  frontend-server/src/test/java/shop/bluebooktle/frontend/controller/myPage/MyPageCouponControllerTest.java
  frontend-server/src/test/java/shop/bluebooktle/frontend/service/AdminCouponServiceTest.java
  frontend-server/src/test/java/shop/bluebooktle/frontend/service/CouponServiceTest.java
Labels: ✅ test

#433 [#432][FRONT][도서] - 마이페이지 도서 좋아요 테스트코드 작성
  backend-server/src/test/java/shop/bluebooktle/backend/book/jpa/PublisherRepositoryTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/common/PaginationData.java
  frontend-server/src/test/java/shop/bluebooktle/frontend/controller/BookControllerTest.java
  frontend-server/src/test/java/shop/bluebooktle/frontend/controller/mypage/MyPageBookLikesControllerTest.java
  frontend-server/src/test/java/shop/bluebooktle/frontend/service/MyPageBookLikesServiceTest.java
Labels: ✅ test, component: frontend-server

#457 [BOOK][테스트코드] - 도서, 리뷰 테스트코드
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/AladinBookControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookRegisterServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/review/service/ReviewServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/CategoryResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/review/request/ReviewRequest.java
  frontend-server/pom.xml
  frontend-server/src/test/java/shop/bluebooktle/frontend/controller/myPage/MyPageReviewControllerTest.java
  frontend-server/src/test/java/shop/bluebooktle/frontend/service/ReviewServiceTest.java
Labels: ✅ test, component: backend-server

#470 README 작성 중 [본인 부분 확인하고 추가해주세요]
  README.MD
  resources/ERD.png
  resources/WBS.jpg
  resources/백로그.jpg
  resources/스크럼.jpg
  resources/아키텍처 구조.png
Labels: 📄 docs
