Repository nhnacademy-be9-bluebooktle/bluebooktle-shop, pull requests merged in 2025-05, with the labels that each got.

#58 [#63][BACK][주문,결제][Entity] - 주문,결제 엔티티 추가
  backend-server/pom.xml
  backend-server/src/main/java/shop/bluebooktle/backend/BackendServerApplication.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/controller/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/dto/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/entity/BookOrder.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/entity/OrderPackaging.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/entity/PackagingOption.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/repository/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/service/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/BackendServerApplication.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/BackendServerApplication.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/controller/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/order/dto/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/order/entity/DeliveryRule.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/entity/Order.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/entity/OrderState.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/entity/Refund.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/repository/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/order/service/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/payment/BackendServerApplication.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/controller/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/payment/dto/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/payment/entity/Payment.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/entity/PaymentDetail.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/entity/PaymentPointHistory.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/entity/PaymentType.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/repository/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/payment/service/.gitkeep
  backend-server/src/main/resources/application-local.yml
  common-module/src/main/java/shop/bluebooktle/common/domain/OrderStatus.java
  common-module/src/main/java/shop/bluebooktle/common/domain/RefundReason.java
  common-module/src/main/java/shop/bluebooktle/common/domain/RefundStatus.java
Labels: ✨ feat, component: backend-server

#68 [#51][BACK][도서] - book_category 엔티티 수정
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/Book.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/BookCategory.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/BookSaleInfo.java
  backend-server/src/main/resources/application-local.yml
Labels: ✨ feat, component: backend-server

#70 [#3][BACK][쿠폰][Entity] - 쿠폰 Entity 생성
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/AbsoluteCoupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/BookCoupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/CategoryCoupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/Coupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/CouponType.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/RelativeCoupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/Target.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/UserCoupon.java
Labels: ✨ feat, component: backend-server

#72 [#4][BACK][쿠폰][repository] - 쿠폰 레파지토리 및 부분 수정
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/Coupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/CouponType.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/AbsoluteCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/BookCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CategoryCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponTypeRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/RelativeCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/UserCouponRepository.java
  common-module/src/main/java/shop/bluebooktle/common/domain/CouponTypeTarget.java
Labels: ✨ feat, component: backend-server

#78 [FRONT]refatctor: frontend-server port변경 및 yml 위치 resources로 이동
  frontend-server/src/main/resources/application-dev.yml
  frontend-server/src/main/resources/application-local.yml
  frontend-server/src/main/resources/application-prod.yml
Labels: 🔧 chore, component: frontend-server

#79 [INFRA][CICD] refactor: ci-auth server module 주석
  pom.xml
Labels: 🔧 chore, component: backend-server

#80 [][WORKFLOW][PR 알림] - PR 알림 Workflow 추가
  .github/workflows/pr_webhook.yml
Labels: 🔧 chore

#85 [#82][Infra][eureka] - 유레카 등록
  backend-server/src/main/resources/application-dev.yml
  backend-server/src/main/resources/application-local.yml
  backend-server/src/main/resources/application-prod.yml
  backend-server/src/main/resources/application.yml
  eureka-server/src/main/resources/application-dev.yml
  eureka-server/src/main/resources/application-local.yml
  eureka-server/src/main/resources/application-prod.yml
  frontend-server/pom.xml
  frontend-server/src/main/java/shop/bluebooktle/frontend/FrontendServerApplication.java
  frontend-server/src/main/resources/application-dev.yml
  frontend-server/src/main/resources/application-local.yml
  frontend-server/src/main/resources/application-prod.yml
  frontend-server/src/main/resources/application.properties
  frontend-server/src/main/resources/application.yml
  gateway-server/src/main/resources/application-local.yml
  gateway-server/src/main/resources/application.yml
Labels: ✨ feat, component: eureka-server

#91 #89[BACK][도서][Service] - 알라딘 API 도서조회 구현
  backend-server/http/aladinApiTest.http
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/AladinBookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/AladinApiResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/AladinBookItem.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/BookCreateRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/AladinBookResponseDto.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/Book.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookSaleInfoRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/AladinBookService.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/repository/.gitkeep
  common-module/pom.xml
  frontend-server/application-dev.yml
  frontend-server/application-local.yml
  frontend-server/application-prod.yml
  frontend-server/src/main/resources/application.properties
Labels: ✨ feat, component: backend-server

#96 fix(user): user entity import 수정
  backend-server/src/main/java/shop/bluebooktle/backend/cart/helper/AuthContextHelper.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/repository/CartRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/service/CartService.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/service/impl/CartServiceImpl.java
Labels: 🐛 bug

#100 [#86 ][Infra] - 무중단 배포
  .github/workflows/maven.yml
  auth-server/src/main/java/shop/bluebooktle/auth/AuthServerApplication.java
  backend-server/src/main/java/shop/bluebooktle/backend/BackendServerApplication.java
  common-module/src/main/java/shop/bluebooktle/common/domain/CouponTypeTarget.java
  common-module/src/main/java/shop/bluebooktle/common/exception/UserNotFoundException.java
  coverage-report/src/main/java/shop/bluebooktle/coverage/App.java
  eureka-server/src/main/java/shop/bluebooktle/eureka/EurekaServerApplication.java
  eureka-server/src/main/resources/application.yml
  frontend-server/src/main/java/shop/bluebooktle/frontend/FrontendServerApplication.java
  gateway-server/src/main/java/shop/bluebooktle/gateway/GatewayServerApplication.java
Labels: 🔧 chore

#101 [#36][FRONT][UI] - 공통 layout 및 mian mock 추가
  frontend-server/pom.xml
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/MainController.java
  frontend-server/src/main/resources/static/css/DungGeunMo.woff2
  frontend-server/src/main/resources/static/css/styles.css
  frontend-server/src/main/resources/templates/fragments/footer.html
  frontend-server/src/main/resources/templates/fragments/header.html
  frontend-server/src/main/resources/templates/layout/default_layout.html
  frontend-server/src/main/resources/templates/main.html
Labels: ✨ feat, component: frontend-server

#104 [#4][BACK][쿠폰] - 쿠폰 정책 등록/조회, 쿠폰 등록/조회 개발
  backend-server/http/coupon.http
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/CouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/CouponTypeController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/AbsoluteCoupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/BookCoupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/CategoryCoupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/Coupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/CouponType.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/RelativeCoupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/AbsoluteCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/BookCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CategoryCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponTypeRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/RelativeCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/CouponService.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/CouponTypeService.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponTypeServiceImpl.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/request/CouponRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/request/CouponTypeRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/CouponResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/CouponTypeResponse.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
  common-module/src/main/java/shop/bluebooktle/common/exception/coupon/CouponNameAlreadyExistsException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/coupon/CouponTypeNameAlreadyException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/coupon/CouponTypeNotFoundException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/coupon/InvalidCouponTargetException.java
Labels: ✨ feat, component: common-module, component: backend-server

#106 [#113][COMMON][예외처리][Handler] - GlobalExceptionHandler 위치 이동 및 스캔 범위 설정
  auth-server/src/main/java/shop/bluebooktle/auth/AuthServerApplication.java
  common-module/src/main/java/shop/bluebooktle/common/exception/handler/GlobalExceptionHandler.java
Labels: 🔨 refactor, component: common-module

#115 [#65][Infra][Config] - 설정 파일 외부 참조
  .github/workflows/maven.yml
  auth-server/src/main/resources/application-dev.yml
  auth-server/src/main/resources/application-prod.yml
  auth-server/src/main/resources/application.yml
  backend-server/pom.xml
  backend-server/src/main/resources/application-dev.yml
  backend-server/src/main/resources/application-prod.yml
  backend-server/src/main/resources/application.yml
  eureka-server/pom.xml
  eureka-server/src/main/resources/application-dev.yml
  eureka-server/src/main/resources/application-prod.yml
  eureka-server/src/main/resources/application.yml
  frontend-server/pom.xml
  frontend-server/src/main/resources/application-dev.yml
  frontend-server/src/main/resources/application-prod.yml
  frontend-server/src/main/resources/application.properties
  frontend-server/src/main/resources/application.yml
  gateway-server/pom.xml
  gateway-server/src/main/resources/application-dev.yml
  gateway-server/src/main/resources/application-prod.yml
  gateway-server/src/main/resources/application.yml
Labels: 🔧 chore

#116 [#4][BACK][쿠폰] - coupon 등록,조회 오류 수정
  backend-server/http/coupon.http
  backend-server/src/main/java/shop/bluebooktle/backend/BackendServerApplication.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/CouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponTypeRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponTypeServiceImpl.java
Labels: component: backend-server

#136 [#90][BACK][도서] - 알라딘 API 도서등록 구현
  backend-server/http/aladinApiTest.http
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/AladinBookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/AladinBookItem.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/BookCreateRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/BookRegisterByAladinRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/BookRegisterRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/AladinBookResponseDto.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/Author.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/Book.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/BookSaleInfo.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/AuthorRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookAuthorRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookImgRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookPublisherRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookTagRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/ImgRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/PublisherRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/TagRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/AladinBookService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookRegisterService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/Impl/BookRegisterServiceImpl.java
  backend-server/src/main/resources/application-local.yml
  common-module/src/main/java/shop/bluebooktle/common/exception/book/AladinBookNotFoundException.java
Labels: ✨ feat, component: backend-server

#114 [#102][BACK][도서][Controller, Test] - 도서 좋아요 컨트롤러 구현 및 테스트 코드 작성
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookLikesController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/BookLikesResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/Impl/BookLikesImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/BookLikesControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookLikesServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/exception/BookNotFoundException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/BookLikesAlreadyChecked.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/BookNotFoundException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/user/UserNotFoundException.java
Labels: ✨ feat, component: backend-server

#142 [#16][BACK][쿠폰] - 쿠폰 수정, 삭제
  backend-server/http/coupon.http
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/CouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/Coupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/BookCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CategoryCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/CouponService.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponServiceImpl.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/request/CouponUpdateRequest.java
  common-module/src/main/java/shop/bluebooktle/common/exception/coupon/CouponNotFountException.java
Labels: ✨ feat, component: backend-server

#143 [BACK][EUREKA] - 유레카 security 추가
  auth-server/src/main/resources/application-local.yml
  backend-server/src/main/resources/application-local.yml
  eureka-server/pom.xml
  eureka-server/src/main/java/shop/bluebooktle/eureka/config/SecurityConfig.java
  frontend-server/src/main/resources/application-local.yml
  gateway-server/src/main/resources/application-local.yml
Labels: 🔧 chore

#147 [#90][BACK][도서] - 알라딘 API 도서등록, 오류 수정
  backend-server/http/aladinApiTest.http
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/AladinBookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/AladinBookItem.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/BookRegisterByAladinRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/AladinApiResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/AladinBookResponseDto.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/AuthorRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/ImgRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/PublisherRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/AladinBookService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/AladinBookServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookRegisterServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/CategoryServiceImpl.java
  common-module/src/main/java/shop/bluebooktle/common/exception/BookAlreadyExistsException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
Labels: component: backend-server

#149 [#36][FRONT][마이페이지] - 마이페이지(내정보, 주문, 주소,포인트, 쿠폰, 리뷰, 좋아요) UI 추가
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/AuthController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/MyPageController.java
  frontend-server/src/main/resources/static/css/reset.css
  frontend-server/src/main/resources/static/css/styles.css
  frontend-server/src/main/resources/templates/_fragments/footer.html
  frontend-server/src/main/resources/templates/_fragments/header.html
  frontend-server/src/main/resources/templates/_fragments/mypage_sidebar.html
  frontend-server/src/main/resources/templates/_layouts/default_layout.html
  frontend-server/src/main/resources/templates/auth/signup_form.html
  frontend-server/src/main/resources/templates/book/book_detail.html
  frontend-server/src/main/resources/templates/book/book_list.html
  frontend-server/src/main/resources/templates/cart/cart.html
  frontend-server/src/main/resources/templates/main.html
  frontend-server/src/main/resources/templates/mypage/address_list.html
  frontend-server/src/main/resources/templates/mypage/coupon_list.html
  frontend-server/src/main/resources/templates/mypage/likes_list.html
  frontend-server/src/main/resources/templates/mypage/order_detail.html
  frontend-server/src/main/resources/templates/mypage/order_list.html
  frontend-server/src/main/resources/templates/mypage/point_log.html
  frontend-server/src/main/resources/templates/mypage/profile.html
  frontend-server/src/main/resources/templates/mypage/review_list.html
  frontend-server/src/main/resources/templates/order/checkout.html
  frontend-server/src/main/resources/templates/order/complete.html
Labels: ✨ feat, component: frontend-server

#150 [#4][BACK][COMMON] - queryDSL 설정 및 coupon 조회 부분에 적용
  backend-server/pom.xml
  backend-server/src/main/java/shop/bluebooktle/backend/config/QueryDslConfig.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/dto/CouponSearchRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponTypeRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/impl/CouponQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponTypeServiceImpl.java
  common-module/pom.xml
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/CouponResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/CouponTypeResponse.java
Labels: 🔨 refactor, component: common-module, component: backend-server

#154 [BACK][FIX] - backend-server run실패 수정
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/AladinBookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/AladinBookServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookRegisterServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/CategoryServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/repository/CartBookRepository.java
  gateway-server/src/main/java/shop/bluebooktle/gateway/config/RouterConfig.java
Labels: 🐛 bug, component: backend-server

#167 [#141][BACK][도서] - 도서 직접등록, 조회 구현
  backend-server/http/aladinApiTest.http
  backend-server/http/book.http
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/AladinBookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/BookRegisterByAladinRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/BookRegisterRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/AladinBookResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/BookResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/BookPublisher.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookAuthorRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookImgRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookPublisherRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookSaleInfoRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookTagRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/AladinBookService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/AladinBookServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookRegisterServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookServiceImpl.java
Labels: ✨ feat, component: backend-server

#166 [#6][BACK][쿠폰] - 유저 쿠폰함 CRUD 구현 및 DB 수정
  backend-server/backend-server.iml
  backend-server/http/coupon.http
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/CouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/CouponTypeController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/UserCouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/Coupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/UserCoupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/UserCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/impl/CouponQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/UserCouponService.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponTypeServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/UserCouponServiceImpl.java
  backend-server/src/main/resources/schema.sql
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/request/CouponRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/request/CouponTypeRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/request/CouponUpdateRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/request/UserCouponRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/CouponResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/CouponTypeResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/UserCouponResponse.java
  common-module/src/main/java/shop/bluebooktle/common/exception/InvalidInputValueException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/coupon/CouponNameAlreadyExistsException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/coupon/CouponNotFoundException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/coupon/UserCouponAlreadyUsedException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/coupon/UserCouponNotFoundException.java
Labels: ✨ feat, component: backend-server

#172 [][AUTH][fix] - auth-server dev환경에서 실행 실패 에러 해결
  .github/workflows/maven.yml
  auth-server/src/main/java/shop/bluebooktle/auth/util/JwtUtil.java
  auth-server/src/main/resources/data.sql
Labels: 🐛 bug, component: member-service

#171 [#102, #152][BACK][도서] - 도서 좋아요, 도서 포장 수정
  .github/workflows/maven.yml
  auth-server/src/main/java/shop/bluebooktle/auth/util/JwtUtil.java
  auth-server/src/main/resources/data.sql
  backend-server/http/book_order.http
  backend-server/http/packaging_option.http
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/AladinBookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookLikesController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/BookLikesRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookLikesRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookLikesService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookLikesServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/controller/BookOrderController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/controller/PackagingOptionController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/handler/BookOrderGlobalExceptionHandler.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/service/PackagingOptionService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/service/impl/OrderPackagingServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/service/impl/PackagingOptionServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/order/repository/OrderRepository.java
  backend-server/src/main/resources/application-local.yml
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/BookLikesControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookLikesServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book_order/request/PackagingOptionRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book_order/request/PackagingOptionUpdateRequest.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book_order/PackagingQuantityExceedException.java
  gateway-server/src/main/java/shop/bluebooktle/gateway/config/RouterConfig.java
Labels: 🔨 refactor, component: backend-server

#174 [#124 ][BACK][PAYMENT] - PaymentType CRUD로직 추가
  .github/workflows/maven.yml
  backend-server/http/http
  backend-server/http/payment.http
  backend-server/src/main/java/shop/bluebooktle/backend/payment/controller/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/payment/controller/PaymentTypeController.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/dto/.gitkeep
  backend-server/src/main/java/shop/bluebooktle/backend/payment/dto/request/PaymentTypeRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/dto/response/PaymentTypeResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/entity/PaymentType.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/repository/PaymentTypeRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/service/PaymentTypeService.java
  backend-server/src/main/java/shop/bluebooktle/backend/payment/service/impl/PaymentTypeServiceImpl.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
  common-module/src/main/java/shop/bluebooktle/common/exception/payment/PaymentTypeAlreadyExistException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/payment/PaymentTypeNotFoundException.java
Labels: ✨ feat, component: backend-server

#192 [Infra][CICD] - feat: prod, dev환경 분리
  .github/workflows/maven.yml
  auth-server/src/main/java/shop/bluebooktle/auth/AuthServerApplication.java
  backend-server/src/main/java/shop/bluebooktle/backend/BackendServerApplication.java
  common-module/src/main/java/shop/bluebooktle/common/entity/BaseEntity.java
Labels: 🔧 chore

#195 [#33][FRONT][인증] - 회원가입, 로그인, FRONT 에러 처리
  auth-server/pom.xml
  auth-server/src/main/java/shop/bluebooktle/auth/config/SecurityConfig.java
  auth-server/src/main/java/shop/bluebooktle/auth/controller/AuthController.java
  auth-server/src/main/java/shop/bluebooktle/auth/service/impl/AuthServiceImpl.java
  auth-server/src/main/java/shop/bluebooktle/auth/util/JwtUtil.java
  auth-server/src/main/resources/application-local.yml
  auth-server/src/main/resources/application.yml
  backend-server/pom.xml
  backend-server/src/main/resources/application-local.yml
  backend-server/src/main/resources/application.yml
  backend-server/src/main/resources/schema.sql
  common-module/pom.xml
  common-module/src/main/java/shop/bluebooktle/common/dto/auth/request/SignupRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/auth/response/TokenResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/common/JsendResponse.java
  common-module/src/main/java/shop/bluebooktle/common/entity/auth/User.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ApplicationException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
  frontend-server/pom.xml
  frontend-server/src/main/java/shop/bluebooktle/frontend/FrontendServerApplication.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/FeignGlobalConfig.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/GlobalFeignErrorDecoder.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/GlobalUserInfoAdvice.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/AuthController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AuthRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/TagRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/AuthService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/util/JwtPayloadUtil.java
  frontend-server/src/main/resources/application-local.yml
  frontend-server/src/main/resources/logback.xml
  frontend-server/src/main/resources/static/css/styles.css
  frontend-server/src/main/resources/templates/_fragments/header.html
  frontend-server/src/main/resources/templates/_fragments/popup_modal.html
  frontend-server/src/main/resources/templates/_layouts/default_layout.html
  frontend-server/src/main/resources/templates/auth/login_form.html
  frontend-server/src/main/resources/templates/auth/signup_form.html
  frontend-server/src/main/resources/요구사항.md
Labels: ✨ feat, component: frontend-server

#186 [#49][BACK][쿠폰] - 유저 쿠폰 조회 로직 추가
  backend-server/http/usercoupon.http
  backend-server/src/main/java/shop/bluebooktle/backend/BackendServerApplication.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/CouponBatchLauncher.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/CouponIssueJobConfig.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/UserCouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/UserCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/impl/CouponQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/UserCouponService.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/UserCouponServiceImpl.java
  backend-server/src/main/resources/application-local.yml
  backend-server/src/main/resources/batch/batch-h2.sql
  backend-server/src/main/resources/batch/batch-mysql.sql
Labels: ✨ feat, component: backend-server

#208 [#24 #134 #135]][BACK][도서][Entity, DTO, Service, Controller] - 도서 관련 엔티티 및 CRUD 수정 및 추가 (+기타 수정)
  backend-server/http/author.http
  backend-server/http/img.http
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/AuthorController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookAuthorController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookImgController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/ImgController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/BookImgRegisterRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/BookImgUpdateRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/author/AuthorRegisterRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/author/AuthorUpdateRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/img/ImgRegisterRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/img/ImgUpdateRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/BookImgResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/author/AuthorResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/img/ImgResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/Author.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/BookAuthor.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/BookImg.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/Img.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/AuthorRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookAuthorRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookImgRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/ImgRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/AuthorService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookAuthorService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookImgService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/ImgService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/AuthorServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookAuthorServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookImgServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookRegisterServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/ImgServiceImpl.java
  backend-server/src/main/resources/schema.sql
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/AuthorAlreadyExistsException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/AuthorFieldNullException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/AuthorIdNullException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/AuthorNotFoundException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/AuthorUpdateFieldMissingException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/BookAuthorAlreadyExistsException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/BookAuthorNotFoundException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/BookIdNullException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/BookImgAlreadyExistsException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/BookImgNotFoundException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/ImgAlreadyExistsException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/ImgIdNullException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/ImgNotFoundException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/ImgUrlEmptyException.java
Labels: ✨ feat, 🔨 refactor, component: common-module, component: backend-server

#214 [#196][FRONT][어드민] - 어드민 페이지 UI 추가
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/GlobalUserInfoAdvice.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/WebConfig.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminAuthorController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminBookController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminCategoryController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminCouponController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminDashboardController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminDeliveryPolicyController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminMemberController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminMembershipLevelController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminOrderController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminPackagingOptionController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminPointPolicyController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminPublisherController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminRefundController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminTagController.java
  frontend-server/src/main/resources/static/css/admin_styles.css
  frontend-server/src/main/resources/templates/_fragments/admin_footer.html
  frontend-server/src/main/resources/templates/_fragments/admin_header.html
  frontend-server/src/main/resources/templates/_fragments/admin_pagination.html
  frontend-server/src/main/resources/templates/_fragments/admin_sidebar.html
  frontend-server/src/main/resources/templates/_fragments/header.html
  frontend-server/src/main/resources/templates/_layouts/admin_layout.html
  frontend-server/src/main/resources/templates/admin/author/author_form.html
  frontend-server/src/main/resources/templates/admin/author/author_list.html
  frontend-server/src/main/resources/templates/admin/book/book_form.html
  frontend-server/src/main/resources/templates/admin/book/book_list.html
  frontend-server/src/main/resources/templates/admin/category/category_form.html
  frontend-server/src/main/resources/templates/admin/category/category_list.html
  frontend-server/src/main/resources/templates/admin/coupon/coupon_form.html
  frontend-server/src/main/resources/templates/admin/coupon/coupon_list.html
  frontend-server/src/main/resources/templates/admin/dashboard.html
  frontend-server/src/main/resources/templates/admin/delivery/delivery_rule_form.html
  frontend-server/src/main/resources/templates/admin/delivery/delivery_rule_list.html
  frontend-server/src/main/resources/templates/admin/member/member_detail.html
  frontend-server/src/main/resources/templates/admin/member/member_form.html
  frontend-server/src/main/resources/templates/admin/member/member_list.html
  frontend-server/src/main/resources/templates/admin/membership/level_form.html
  frontend-server/src/main/resources/templates/admin/membership/level_list.html
  frontend-server/src/main/resources/templates/admin/order/order_detail.html
  frontend-server/src/main/resources/templates/admin/order/order_list.html
  frontend-server/src/main/resources/templates/admin/packaging/packaging_option_form.html
  frontend-server/src/main/resources/templates/admin/packaging/packaging_option_list.html
  frontend-server/src/main/resources/templates/admin/point/point_settings_form.html
  frontend-server/src/main/resources/templates/admin/publisher/publisher_form.html
  frontend-server/src/main/resources/templates/admin/publisher/publisher_list.html
  frontend-server/src/main/resources/templates/admin/refund/refund_detail.html
  frontend-server/src/main/resources/templates/admin/refund/refund_list.html
  frontend-server/src/main/resources/templates/admin/tag/tag_form.html
  frontend-server/src/main/resources/templates/admin/tag/tag_list.html
Labels: ✨ feat, component: frontend-server

#223 [#43][BACK][장바구니] - 장바구니 SeriviceImpl 구조 변경 및 테스트코드 작성
  backend-server/pom.xml
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/CartController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/CartConversionController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/GuestCartController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/MemberCartController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/dto/CartItemResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/dto/request/CartItemRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/dto/request/CartOrderRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/dto/response/CartItemResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/entity/Cart.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/entity/CartBook.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/repository/CartBookRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/repository/redis/GuestCartRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/repository/redis/GuestCartRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/service/CartService.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/service/impl/CartServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/config/RedisConfig.java
  backend-server/src/test/java/shop/bluebooktle/backend/cart/repository/GuestCartRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/cart/service/CartServiceImplTest.java
  common-module/src/main/java/shop/bluebooktle/common/exception/cart/CartNotFoundException.java
Labels: ✅ test, 🔨 refactor

#255 [#248#249][BACK][도서] - 출판사, 도서판매정보, 태그, 카테고리 테스트코드 작성
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/Publisher.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/Tag.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/BookSaleInfoControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/CategoryControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/PublisherControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/TagControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookSaleInfoServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/PublisherServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/TagServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/request/PublisherRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/PublisherInfoResponse.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminBookController.java
  frontend-server/src/main/resources/templates/admin/book/book_form.html
Labels: ✅ test

#263 [#249 #254][BACK][도서] 도서판매정보dto 리팩터링, 테스트코드 수정
  backend-server/http/bookSaleInfo.http
  backend-server/src/main/java/shop/bluebooktle/backend/book/adapter/AladinAdaptor.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/BookSaleInfoController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/request/BookSaleInfoUpdateRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/BookSaleInfoRegisterResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/dto/response/BookSaleInfoUpdateResponse.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/BookSaleInfo.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookSaleInfoService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/BookService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/AladinBookServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookRegisterServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookSaleInfoServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/BookSaleInfoControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/BookSaleInfoServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/BookSaleInfoState.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/request/BookSaleInfoRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/request/BookSaleInfoUpdateRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/AladinApiResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/AladinAuthorResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/AladinBookItemBySearch.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/AladinItemLookupResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/BookAllResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/BookSaleInfoRegisterResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/BookSaleInfoResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/BookSaleInfoUpdateResponse.java
  frontend-server/src/main/resources/templates/admin/book/book_form.html
Labels: 🔨 refactor

#268 [FRONT][FIX] - FIx feign client configuration
  backend-server/src/main/java/shop/bluebooktle/backend/config/SecurityConfig.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/TossFeignConfig.java
Labels: 🐛 bug, component: backend-server, component: frontend-server

#270 [#20, #265][FRONT][도서] - 도서 태그, 출판사 프론트 구현 및 백엔드 로직 수정
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/PublisherController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/TagController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/PublisherQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/PublisherRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/TagQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/TagRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/impl/PublisherQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/impl/TagQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/PublisherService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/TagService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookPublisherServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookTagServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/PublisherServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/TagServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/TagControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/TagServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/PublisherInfoResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/TagInfoResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/common/PaginationData.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/PublisherCreateException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/PublisherDeleteException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/PublisherListFetchException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/PublisherUpdateException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/TagCreateException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/TagDeleteException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/TagListFetchException.java
  common-module/src/main/java/shop/bluebooktle/common/exception/book/TagUpdateException.java
  frontend-server/pom.xml
  frontend-server/src/main/java/shop/bluebooktle/frontend/FrontendServerApplication.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminBookController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminPublisherController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminTagController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AdminPublisherRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AdminTagRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AuthRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/TagRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/AdminPublisherService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/AdminTagService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/AdminPublisherServiceImpl.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/AdminTagServiceImpl.java
  frontend-server/src/main/resources/templates/admin/publisher/publisher_form.html
  frontend-server/src/main/resources/templates/admin/publisher/publisher_list.html
  frontend-server/src/main/resources/templates/admin/tag/tag_form.html
  frontend-server/src/main/resources/templates/admin/tag/tag_list.html
Labels: ✨ feat, component: frontend-server

#273 [#48][FRONT][쿠폰] - 관리자 쿠폰 등록, 조회, 직접 발급
  backend-server/http/coupon.http
  backend-server/src/main/java/shop/bluebooktle/backend/book/entity/Book.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/CouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/CouponTypeController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/controller/UserCouponController.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/dto/CouponSearchRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/entity/Coupon.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/AbsoluteCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/BookCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CategoryCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/RelativeCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/impl/CouponQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/CouponService.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/service/impl/CouponServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/BookServiceApplicationTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/controller/CouponControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/controller/CouponTypeControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/controller/UserCouponControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/jpa/CouponRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/service/CouponServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/service/UserCouponServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/request/CouponRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/request/CouponTypeRegisterRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/request/CouponUpdateRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/CouponResponse.java
  common-module/src/main/java/shop/bluebooktle/common/dto/coupon/response/CouponTypeResponse.java
  eureka-server/src/main/resources/application-local.yml
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminCouponController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminDeliveryPolicyController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminPointPolicyController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminRefundController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AdminCouponRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/CouponRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/AdminCouponService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/CouponService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/AdminCouponServiceImpl.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/CouponServiceImpl.java
  frontend-server/src/main/resources/templates/admin/coupon/coupon_form.html
  frontend-server/src/main/resources/templates/admin/coupon/coupon_list.html
  frontend-server/src/main/resources/templates/admin/coupon/coupon_type_form.html
  gateway-server/src/main/resources/application-loca.yml
  logs/dev/server/auth-server-10219.log
  logs/dev/server/backend-server-10221.log
  logs/dev/server/eureka-server-10227.log
  logs/dev/server/frontend-server-10223.log
  logs/dev/server/gateway-server-10225.log
Labels: ✨ feat, component: frontend-server

#278 [#242][FRONT][장바구니] - 비회원 장바구니 담기 로직 구현 (페이징 처리 안함)
  backend-server/http/cart/cart_conversion.http
  backend-server/http/cart/guest_cart.http
  backend-server/http/cart/member_cart.http
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/CartConversionController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/GuestCartController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/MemberCartController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/dto/request/CartItemRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/dto/request/CartOrderRequest.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/repository/redis/GuestCartRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/service/CartService.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/service/impl/CartServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/controller/CategoryControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/cart/controller/GuestCartControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/cart/controller/MemberCartControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/cart/service/CartServiceImplTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/coupon/jpa/CouponRepositoryTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/GuestCartItemRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/GuestCartRemoveOneRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/GuestCartRemoveSelectedRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/MemberCartItemRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/MemberCartRemoveOneRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/MemberCartRemoveSelectedRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/response/CartItemResponse.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/CartController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/MainController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/CartRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/CartService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/CartServiceImpl.java
  frontend-server/src/main/resources/templates/book/book_detail.html
Labels: ✨ feat, component: common-module, component: backend-server, component: frontend-server

#280 [#251, #267][FRONT, BACK][도서] - 관리자 페이지 : 카테고리, 작가 검색 기능
  auth-server/src/main/resources/application-local.yml
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/AuthorController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/controller/CategoryController.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/AuthorQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/AuthorRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/CategoryQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/CategoryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/impl/AuthorQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/impl/CategoryQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/AuthorService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/CategoryService.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/AuthorServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/CategoryServiceImpl.java
  backend-server/src/main/resources/application-local.yml
  common-module/src/main/java/shop/bluebooktle/common/dto/book/request/BookAllRegisterRequest.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminAuthorController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/AdminAuthorServiceImpl.java
Labels: ✨ feat, component: backend-server, component: frontend-server

#284 [FIX][CHORE] - fix maven.yml error
  .github/workflows/maven.yml
  .github/workflows/pr-test.yml
  backend-server/src/test/resources/application-test.yml
Labels: 🐛 bug

#290 [#271][FRONT][포인트] - 포인트 정책페이지 수정
  common-module/src/main/java/shop/bluebooktle/common/domain/point/PolicyType.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminPointPolicyController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/AdminPointRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/AdminPointService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/AdminPointServiceImpl.java
  frontend-server/src/main/resources/templates/admin/point/point_settings_form.html
  frontend-server/src/main/resources/templates/admin/point/policy_form.html
Labels: ✨ feat

#293 [#276][BACK][쿠폰] : 생일 쿠폰 발급 구현
  backend-server/src/main/java/shop/bluebooktle/backend/config/SchedulerConfig.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/birthday/BirthdayCouponJobConfig.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/birthday/BirthdayCouponLauncher.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/birthday/BirthdayCouponProcessor.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/birthday/BirthdayCouponScheduler.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/birthday/BirthdayCouponWriter.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/batch/birthday/BirthdayUserItemReader.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/CouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/coupon/repository/UserCouponRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/repository/UserQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/repository/UserRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/user/repository/impl/UserQueryRepositoryImpl.java
  frontend-server/.application-local.yml.swp
Labels: ✨ feat, component: backend-server

#279 [#230 #232][BACK][도서] - 도서 직접 등록 시 이미지 연결 및 엔티티 수정
  backend-server/http/author.http
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/BookRegisterServiceImpl.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/request/BookAllRegisterRequest.java
  logs/dev/server/auth-server-10219.log
  logs/dev/server/backend-server-10221.log
  logs/dev/server/eureka-server-10227.log
  logs/dev/server/frontend-server-10223.log
  logs/dev/server/gateway-server-10225.log
Labels: ✨ feat, component: backend-server

#304 [#118, #120][BACK][도서] - 도서 좋아요, 주문 포장 옵션 테스트 코드 작성
  backend-server/src/main/java/shop/bluebooktle/backend/book/repository/BookLikesRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/jpa/BookOrderRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/jpa/OrderPackagingRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/jpa/PackagingOptionQueryRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/jpa/PackagingOptionRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/jpa/impl/PackagingOptionQueryRepositoryImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/repository/BookOrderRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/repository/OrderPackagingRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/service/impl/BookOrderServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/service/impl/OrderPackagingServiceImpl.java
  backend-server/src/main/java/shop/bluebooktle/backend/book_order/service/impl/PackagingOptionServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/jpa/BookLikesRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book_order/controller/BookOrderControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book_order/controller/PackagingOptionControllerTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book_order/jpa/PackagingOptionQueryRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book_order/jpa/PackagingOptionRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book_order/service/BookOrderServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book_order/service/OrderPackagingServiceTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book_order/service/PackagingOptionServiceTest.java
Labels: ✅ test, component: backend-server

#303 [#302][BACK][도서] - 카테고리 테스트 코드 작성
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/CategoryServiceImpl.java
  backend-server/src/main/resources/initData.sql
  backend-server/src/test/java/shop/bluebooktle/backend/book/jpa/CategoryRepositoryTest.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/CategoryServiceTest.java
  frontend-server/src/main/resources/templates/_fragments/header.html
Labels: ✅ test

#311 [#240][FRONT][장바구니] - 비회원 View 제외 모든 로직 구현
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/CartController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/CartConversionController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/GuestCartController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/MemberCartController.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/CartItemRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/CartRemoveOneRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/CartRemoveSelectedRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/GuestCartItemRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/GuestCartRemoveOneRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/GuestCartRemoveSelectedRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/MemberCartItemRequest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/cart/request/MemberCartRemoveOneRequest.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/advice/GlobalCartCountAdvice.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/CartController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/CartRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/CartService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/CartServiceImpl.java
  frontend-server/src/main/resources/templates/_fragments/header.html
  frontend-server/src/main/resources/templates/book/book_detail.html
  frontend-server/src/main/resources/templates/cart/cart.html
Labels: ✨ feat, 🔨 refactor, component: backend-server, component: frontend-server

#326 [#48][FRONT][쿠폰] - 도서 관련 쿠폰 생성
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/admin/AdminCouponController.java
  frontend-server/src/main/resources/templates/admin/coupon/book_list.html
  frontend-server/src/main/resources/templates/admin/coupon/coupon_form.html
Labels: ✨ feat, component: frontend-server

#327 [#324][BACK][TEST] - Sonar Qube Test Coverage 보강
  backend-server/src/main/java/shop/bluebooktle/backend/book/service/impl/AladinBookServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/book/service/AladinBookServiceTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/request/AladinBookItem.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/AladinApiResponse.java
Labels: ✅ test, component: backend-server

#321 [#240][FRONT][장바구니] - 장바구니 FRONT 회원/비회원 기능 적용 [100%]
  backend-server/src/main/java/shop/bluebooktle/backend/cart/controller/CartController.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/entity/CartBook.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/repository/CartBookRepository.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/service/CartService.java
  backend-server/src/main/java/shop/bluebooktle/backend/cart/service/impl/CartServiceImpl.java
  backend-server/src/test/java/shop/bluebooktle/backend/cart/service/CartServiceImplTest.java
  common-module/src/main/java/shop/bluebooktle/common/dto/book/response/BookCartOrderResponse.java
  common-module/src/main/java/shop/bluebooktle/common/exception/ErrorCode.java
  common-module/src/main/java/shop/bluebooktle/common/exception/cart/GuestUserNotFoundException.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/config/advice/GlobalCartCountAdvice.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/AuthController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/CartController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/controller/CartConversionController.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/repository/CartRepository.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/CartService.java
  frontend-server/src/main/java/shop/bluebooktle/frontend/service/impl/CartServiceImpl.java
  frontend-server/src/main/resources/templates/book/book_detail.html
  frontend-server/src/main/resources/templates/cart/cart.html
Labels: ✨ feat, 🐛 bug, 🔨 refactor, component: backend-server, component: frontend-server
